# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod == 0.9.4
opencv-python==4.7.0.72
git+https://github.com/ai-forever/Kandinsky-2.git
git+https://github.com/openai/CLIP.git
